http:
  routers:
    backrest-jarvis:
      rule: "Host(`backrest.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: backrest-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-backrest@file
        - authelia@docker

    bookstack-jarvis:
      rule: "Host(`bookstack.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: bookstack-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-bookstack@file
        - authelia@docker
    
    bitwarden-jarvis:
      rule: "Host(`bitwarden.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: bitwarden-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-bitwarden@file
        - authelia@docker

    calibre-web-jarvis:
      rule: "Host(`calibre.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: calibre-web-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-calibre-web@file
        - authelia@docker

    code-jarvis:
      rule: "Host(`code.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: code-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-code-server@file
        - authelia@docker

    dockge-jarvis:
      rule: "Host(`jarvis.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: dockge-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - authelia@docker

    dockhand-jarvis:
      rule: "Host(`dockhand.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: dockhand-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - authelia@docker

    dokuwiki-jarvis:
      rule: "Host(`dokuwiki.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: dokuwiki-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-dokuwiki@file
        - authelia@docker

    dozzle-jarvis:
      rule: "Host(`dozzle.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: dozzle-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-dozzle@file
        - authelia@docker

    duplicati-jarvis:
      rule: "Host(`duplicati.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: duplicati-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-duplicati@file
        - authelia@docker

    formio-jarvis:
      rule: "Host(`formio.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: formio-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-formio@file
        - authelia@docker

    gitea-jarvis:
      rule: "Host(`gitea.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: gitea-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-gitea@file
        - authelia@docker

    glances-jarvis:
      rule: "Host(`glances.jarvis.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: glances-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-glances@file
        - authelia@docker

    homepage-jarvis:
      rule: "Host(`homepage.jarvis.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: homepage-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - authelia@docker

    homarr-jarvis:
      rule: "Host(`homarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: homarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - authelia@docker
        - sablier-jarvis-homarr@file

    jellyfin-jarvis:
      rule: "Host(`jellyfin.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: jellyfin-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-jellyfin@file
        # No authelia middleware for media apps

    kopia-jarvis:
      rule: "Host(`kopia.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: kopia-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-kopia@file
        - authelia@docker

    mealie-jarvis:
      rule: "Host(`mealie.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: mealie-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-mealie@file
        - authelia@docker

    motioneye-jarvis:
      rule: "Host(`motioneye.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: motioneye-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - authelia@docker

    mediawiki-jarvis:
      rule: "Host(`mediawiki.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: mediawiki-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-mediawiki@file
        - authelia@docker

    nextcloud-jarvis:
      rule: "Host(`nextcloud.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: nextcloud-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-nextcloud@file
        - authelia@docker

    openkm-jarvis:
      rule: "Host(`openkm.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: openkm-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-openkm@file
        - authelia@docker

    openwebui-jarvis:
      rule: "Host(`openwebui.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: openwebui-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-openwebui@file
        - authelia@docker

    qbittorrent-jarvis:
      rule: "Host(`torrents.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: qbittorrent-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    tdarr-jarvis:
      rule: "Host(`tdarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: tdarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    unmanic-jarvis:
      rule: "Host(`unmanic.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: unmanic-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-unmanic@file
        - authelia@docker

    wordpress-jarvis:
      rule: "Host(`knot-u.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: wordpress-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-wordpress@file
        - authelia@file

# Arr Services (no SSO for media apps)
    
    jellyseerr-jarvis:
      rule: "Host(`jellyseerr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: jellyseerr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    prowlarr-jarvis:
      rule: "Host(`prowlarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: prowlarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    radarr-jarvis:
      rule: "Host(`radarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: radarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    sonarr-jarvis:
      rule: "Host(`sonarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: sonarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    lidarr-jarvis:
      rule: "Host(`lidarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: lidarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    readarr-jarvis:
      rule: "Host(`readarr.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: readarr-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

    mylar3-jarvis:
      rule: "Host(`mylar3.${DOMAIN}`)"
      entryPoints:
        - websecure
      service: mylar3-jarvis
      tls:
        certResolver: letsencrypt
      middlewares:
        - sablier-jarvis-arr@file
        - authelia@docker

  services:
    backrest-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:9898"
        passHostHeader: true

    bitwarden-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8000"
        passHostHeader: true

    bookstack-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:6875"
        passHostHeader: true

    calibre-web-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8083"
        passHostHeader: true

    code-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8079"
        passHostHeader: true

    dockge-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:5001"
        passHostHeader: true

    dockhand-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:3003"
        passHostHeader: true

    dokuwiki-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8087"
        passHostHeader: true

    dozzle-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8085"
        passHostHeader: true

    duplicati-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8200"
        passHostHeader: true

    formio-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:3002"
        passHostHeader: true

    gitea-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:3010"
        passHostHeader: true

    glances-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:61208"
        passHostHeader: true

    homarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:7575"
        passHostHeader: true

    homepage-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:3000"
        passHostHeader: true

    jellyfin-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8096"
        passHostHeader: true

    kopia-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:51515"
        passHostHeader: true

    mealie-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:9000"
        passHostHeader: true

    mediawiki-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8084"
        passHostHeader: true

    motioneye-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8081"
        passHostHeader: true

    nextcloud-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8089"
        passHostHeader: true

    openkm-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:18080"
        passHostHeader: true

    openwebui-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:3000"
        passHostHeader: true

    qbittorrent-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8080"
        passHostHeader: true

    tdarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8265"
        passHostHeader: true

    unmanic-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8888"
        passHostHeader: true

    wordpress-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8088"
        passHostHeader: true

    # Arr Services

    jellyseerr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:5055"
        passHostHeader: true

    prowlarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:9696"
        passHostHeader: true

    radarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:7878"
        passHostHeader: true

    sonarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8989"
        passHostHeader: true

    lidarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8686"
        passHostHeader: true

    readarr-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8787"
        passHostHeader: true

    mylar3-jarvis:
      loadBalancer:
        servers:
          - url: "http://192.168.4.11:8090"
        passHostHeader: true
