http:
  middlewares:
    sablier-debian-arr:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-arr
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Arr Apps
            theme: ghost
            show-details-by-default: true

    sablier-debian-backrest:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-backrest
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Backrest
            theme: ghost
            show-details-by-default: true

    sablier-debian-bookstack:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-bookstack
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Bookstack
            theme: ghost
            show-details-by-default: true

    sablier-debian-jellyfin:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-jellyfin
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Jellyfin
            theme: ghost
            show-details-by-default: true

    sablier-debian-calibre-web:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-calibre-web
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Calibre Web
            theme: ghost
            show-details-by-default: true

    sablier-debian-code-server:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-code-server
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Code Server
            theme: ghost
            show-details-by-default: true

    sablier-debian-bitwarden:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-bitwarden
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: bitwarden
            theme: ghost
            show-details-by-default: true

    sablier-debian-wordpress:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-wordpress
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: wordpress
            theme: ghost
            show-details-by-default: true

    sablier-debian-nextcloud:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-nextcloud
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: NextCloud
            theme: ghost
            show-details-by-default: true

    sablier-debian-mediawiki:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-mediawiki
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: mediawiki
            theme: ghost
            show-details-by-default: true

    sablier-debian-mealie:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-mealie
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Mealie
            theme: ghost
            show-details-by-default: true

    sablier-debian-gitea:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-gitea
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Gitea
            theme: ghost
            show-details-by-default: true

    sablier-debian-formio:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-formio
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: FormIO
            theme: ghost
            show-details-by-default: true

    sablier-debian-dozzle:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-dozzle
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: dozzle
            theme: ghost
            show-details-by-default: true

    sablier-debian-duplicati:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-duplicati
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Duplicati
            theme: ghost
            show-details-by-default: true

    sablier-debian-glances:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-glances
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Glances
            theme: ghost
            show-details-by-default: true

    sablier-debian-homarr:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-homarr
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Homarr
            theme: ghost
            show-details-by-default: true

    sablier-debian-komodo:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-komodo
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Komodo
            theme: ghost
            show-details-by-default: true


    sablier-debian-kopia:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-kopia
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Kopia
            theme: ghost
            show-details-by-default: true

    sablier-debian-openkm:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-openkm
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: OpenKM
            theme: ghost
            show-details-by-default: true

    sablier-debian-openwebui:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-openwebui
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: OpenWebUI
            theme: ghost
            show-details-by-default: true
            
    sablier-debian-pulse:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-pulse
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Pulse
            theme: ghost
            show-details-by-default: true

    sablier-debian-tdarr:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-tdarr
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Tdarr
            theme: ghost
            show-details-by-default: true

    sablier-debian-unmanic:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-unmanic
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: Unmanic
            theme: ghost
            show-details-by-default: true

    sablier-debian-dokuwiki:
      plugin:
        sablier:
          sablierUrl: http://sablier-service:10000
          group: debian-dokuwiki  
          sessionDuration: 30m
          ignoreUserAgent: curl
          dynamic:
            displayName: DokuWiki
            theme: ghost
            show-details-by-default: true

    authelia:
      forwardauth:
        address: http://authelia:9091/api/verify?rd=https://auth.${DOMAIN}/
        authResponseHeaders:
          - X-Secret
        trustForwardHeader: true
