###############################################################
#                         Users Database                      #
###############################################################

users:
  ${DEFAULT_USER}:
    displayname: "Administrator"
    password: "${DEFAULT_PASSWORD_HASH}"  # Generate with: docker run authelia/authelia:latest authelia crypto hash generate pbkdf2 --password 'yourpassword'
    email: ${DEFAULT_EMAIL}
    groups:
      - admins
      - users
      - users
