services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    ports:
      - '3552:3552'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - arcane-data:/app/data
      - /opt/stacks:/opt/stacks
    environment:
      - APP_URL=http://${SERVER_IP}:3552
      - PROJECTS_DIRECTORY=/opt/stacks
      - PUID=1000
      - PGID=1000
      - ENCRYPTION_KEY=${ARCANE_ENCRYPTION_KEY}
      - JWT_SECRET=${ARCANE_JWT_SECRET}
    restart: unless-stopped
    networks:
      - traefik-network

#  arcane-agent:
#    image: ghcr.io/getarcaneapp/arcane-headless:latest
#    container_name: arcane-agent
#    restart: unless-stopped
#    environment:
#      - AGENT_MODE=true
#      - AGENT_TOKEN=${ARCANE_AGENT_TOKEN}
#      - MANAGER_API_URL=http://${SERVER_IP}:3552
#    ports:
#      - "3553:3553"
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - arcane-data:/app/data
#    networks:
#      - traefik-network

volumes:
  arcane-data:

networks:
  traefik-network:
    external: true