services:
  arcane:
    image: ghcr.io/getarcaneapp/arcane:latest
    container_name: arcane
    ports:
      - '3552:3552'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - ${PROJECTS_DIR}:${PROJECTS_DIR}
    environment:
      - APP_URL=http://${SERVER_IP}:3552
      - PROJECTS_DIRECTORY=${PROJECTS_DIR}
      - PUID=${PUID}
      - PGID=${PGID}
      - ENCRYPTION_KEY=${ARCANE_ENCRYPTION_KEY}
      - JWT_SECRET=${ARCANE_JWT_SECRET}
    restart: unless-stopped
    networks:
      - traefik-network

#  arcane-agent:
#    image: ghcr.io/getarcaneapp/arcane-headless:latest
#    container_name: arcane-agent
#    restart: unless-stopped
#    environment:
#      - AGENT_MODE=true
#      - AGENT_TOKEN=${ARCANE_AGENT_TOKEN}
#      - MANAGER_API_URL=http://${SERVER_IP}:3552
#    ports:
#      - "3553:3553"
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock
#      - ./data:/app/data
#    networks:
#      - traefik-network

networks:
  traefik-network:
    external: true