---
# Currently Installed Services - Grouped by Stack

- Dashboards:
    - Homepage:
        icon: homepage.png
        href: https://homepage.${DOMAIN}
        description: Hosted on Raspberry Pi

    - Homarr:
        icon: homarr.png
        href: https://homarr.${DOMAIN}
        description: Alternative Dashboard

    - Dockge - ${SERVER_HOSTNAME}:
        icon: dockge.png
        href: https://${SERVER_HOSTNAME}.${DOMAIN}
        description: Main Server
 
    - Dockge - ${REMOTE_SERVER_HOSTNAME}:
        icon: dockge.png
        href: https://${REMOTE_SERVER_HOSTNAME}.${DOMAIN}
        description: Raspberry Pi Authentication Server

- Core:
    - Traefik:
        icon: traefik.png
        href: https://traefik.${DOMAIN}
        description: Reverse Proxy & SSL

    - Authelia:
        icon: authelia.png
        href: https://auth.${DOMAIN}
        description: Authentication SSO Portal

    - Pi-hole:
        icon: pi-hole.png
        href: https://pihole.${DOMAIN}
        description: Network-wide Ad Blocking

- Monitoring Stack:
    - Dozzle:
        icon: dozzle.png
        href: https://dozzle.${SERVER_HOSTNAME}.${DOMAIN}
        description: ${SERVER_HOSTNAME} - Real-time Log Viewer

    - Dozzle:
        icon: dozzle.png
        href: https://dozzle.${REMOTE_SERVER_HOSTNAME}.${DOMAIN}
        description: ${REMOTE_SERVER_HOSTNAME} - Real-time Log Viewer

    - Glances - ${SERVER_HOSTNAME}:
        icon: glances.png
        href: https://glances.${SERVER_HOSTNAME}.${DOMAIN}
        description: ${SERVER_HOSTNAME} - System Monitoring

    - Glances - ${REMOTE_SERVER_HOSTNAME}:
        icon: glances.png
        href: https://glances.${REMOTE_SERVER_HOSTNAME}.${DOMAIN}
        description: ${REMOTE_SERVER_HOSTNAME} - System Monitoring

    - Uptime Kuma:
        icon: uptime-kuma.png
        href: https://uptime-kuma.${DOMAIN}
        description: Uptime Monitoring

- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: https://jellyfin.${DOMAIN}
        description: Open Source Media Server

    - Jellyseerr:
        icon: jellyseerr.png
        href: https://jellyseerr.${DOMAIN}
        description: Media Request Manager

    - Calibre-Web:
        icon: calibre-web.png
        href: https://calibre.${DOMAIN}
        description: Ebook Library

- Media Management:
    - Sonarr:
        icon: sonarr.png
        href: https://sonarr.${DOMAIN}
        description: TV Shows Automation

    - Radarr:
        icon: radarr.png
        href: https://radarr.${DOMAIN}
        description: Movies Automation

    - Prowlarr:
        icon: prowlarr.png
        href: https://prowlarr.${DOMAIN}
        description: Indexer Manager

    - Readarr:
        icon: readarr.png
        href: https://readarr.${DOMAIN}
        description: Books Automation

    - Lidarr:
        icon: lidarr.png
        href: https://lidarr.${DOMAIN}
        description: Music Automation

    - Mylar3:
        icon: mylar.png
        href: https://mylar.${DOMAIN}
        description: Comics Manager

- Home Automation:
    - Home Assistant:
        icon: home-assistant.png
        href: https://hass.${DOMAIN}
        description: Home Automation Platform

    - ESPHome:
        icon: esphome.png
        href: https://esphome.${DOMAIN}
        description: ESP Device Manager

    - Node-RED:
        icon: node-red.png
        href: https://nodered.${DOMAIN}
        description: Flow-based Automation

    - Zigbee2MQTT:
        icon: zigbee2mqtt.png
        href: https://zigbee.${DOMAIN}
        description: Zigbee Bridge

    - Mosquitto:
        icon: mosquitto.png
        href: https://mqtt.${DOMAIN}
        description: MQTT Broker

- Productivity:
    - Nextcloud:
        icon: nextcloud.png
        href: https://nextcloud.${DOMAIN}
        description: Cloud Storage & Collaboration

    - Gitea:
        icon: gitea.png
        href: https://gitea.${DOMAIN}
        description: Git Repository

    - Mealie:
        icon: mealie.png
        href: https://mealie.${DOMAIN}
        description: Recipe Manager

    - WordPress:
        icon: wordpress.png
        href: https://wordpress.${DOMAIN}
        description: CMS Platform

- Wikis:
    - BookStack:
        icon: bookstack.png
        href: https://bookstack.${DOMAIN}
        description: Wiki Platform

    - DokuWiki:
        icon: dokuwiki.png
        href: https://dokuwiki.${DOMAIN}
        description: Simple Wiki
        
    - Mediawiki:
        icon: mediawiki.png
        href: https://mediawiki.${DOMAIN}
        description: Collaborative Wiki

- Development:
    - VS Code Server:
        icon: vscode.png
        href: https://code.${DOMAIN}
        description: Browser-based IDE

    - Jupyter:
        icon: jupyter.png
        href: https://jupyter.${DOMAIN}
        description: Data Science Notebooks

- Downloaders:
    - qBittorrent:
        icon: qbittorrent.png
        href: https://qbit.${DOMAIN}
        description: Torrent Client
    - Transcoders:
        - Tdarr:
            icon: tdarr.png
            href: https://tdarr.${DOMAIN}
            description: Media Transcoding

        - Unmanic:
            icon: unmanic.png
            href: https://unmanic.${DOMAIN}
            description: Media Transcoder
        
- Utilities:
    - Vaultwarden:
        icon: vaultwarden.png
        href: https://vault.${DOMAIN}
        description: Password Manager

    - Formio:
        icon: mdi-form-select
        href: https://formio.${DOMAIN}
        description: Form Builder

- Backup:
    - Backrest:
        icon: mdi-backup-restore
        href: https://backrest.${DOMAIN}
        description: Backup Solution

    - Duplicati:
        icon: duplicati.png
        href: https://duplicati.${DOMAIN}
        description: Backup Software

- Metrics:
    - Grafana:
        icon: grafana.png
        href: https://grafana.${DOMAIN}
        description: Metrics Dashboard

    - Prometheus:
        icon: prometheus.png
        href: https://prometheus.${DOMAIN}
        description: Metrics Collection
        
    - cAdvisor:
        icon: cadvisor.png
        href: https://cadvisor.${DOMAIN}
        description: Container Metrics
        
- Alternatives:
    - Portainer:
        icon: portainer.png
        href: https://portainer.${DOMAIN}
        description: Container Management UI

    - Authentik:
        icon: authentik.png
        href: https://authentik.${DOMAIN}
        description: Alternative Auth Provider

    - Plex:
        icon: plex.png
        href: https://plex.${DOMAIN}
        description: Media Server
