.services-group {
    max-width: 250px;
}

.service {
    height: 70px;
    max-height: 80px;
    margin-bottom: 0px;
    margin-right: 3px;
}

#services {
    margin: 0px 0px 0px 20px;
}

.text-sm {
    font-size: 16px;
}

.bookmark-group {
    min-width: 250px;
    max-width: 250px;
}