# Dashboards Stack Environment Variables
# These variables are used for Homepage and Homarr

# Base Configuration
DOMAIN=
TZ=

# User Configuration
PUID=
PGID=

# Directory Configuration
STACKS_DIR=

# Homepage Configuration
HOMEPAGE_ALLOWED_HOSTS=
